@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Mantener estilos de hover y focus para botones */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}